html {
  scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: var(--text-color);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;

  &.trava-scroll {
    overflow-y: hidden;
  }
}

#Form1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

@media (max-width: 1250px) {
  .container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

@media (max-width: 1199px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.container {
  @media (min-width: 576px) {
    max-width: 100%;
    // padding-left: 24px !important;
    // padding-right: 24px !important;
  }

  @media (min-width: 768px) {
    max-width: 820px;

    // padding-left: 24px !important;
    // padding-right: 24px !important;
  }

  @media (min-width: 992px) {
    max-width: 951px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    // padding-right: 40px !important;
    // padding-left: 40px !important;
  }

  @media (max-width: 575px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

ul {
  margin-bottom: 24px;

  li {
    list-style-type: none;
  }

  &.list-ponto {
    padding-left: 20px;

    li {
      list-style-type: disc;
      margin-bottom: 8px;

      &::marker {
        color: var(--text-secondary-01-default);
      }
    }
  }

  &.list-numeros {
    padding-left: 20px;

    li {
      list-style-type: decimal;
      margin-bottom: 24px;
    }
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  display: block;
}

.container-responsivo-full {
  @media (min-width: 1440px) {
    max-width: 1200px !important;
  }
  @media (min-width: 1660px) {
    max-width: 1396px !important;
  }
}

.container-internas {
  @media (min-width: 1440px) {
    max-width: 1240px !important;
  }
  @media (min-width: 1660px) {
    max-width: 1446px !important;
    padding: 0;
  }
}

.container-responsivo-full-image {
  margin: 0 auto;

  @media (min-width: 1660px) {
    max-width: 1120px !important;
  }

  img {
    width: 100%;
  }
}

.container-responsivo-full-content {
  @media (min-width: 991px) {
    max-width: 824px !important;
  }

  @media (min-width: 1200px) {
    max-width: 824px !important;
  }
  @media (min-width: 1660px) {
    max-width: 1032px !important;
  }
}

.container-responsivo-full-home {
  @media (min-width: 1440px) {
    max-width: 1240px !important;
  }
}

.container-big {
  @media (min-width: 1200px) {
    .container {
      max-width: 1230px;
    }
  }
}

.section-top-40 {
  padding-top: 40px;
}
.section-bottom-40 {
  padding-bottom: 40px;
}

#mainInternal {
  section {
    padding: 48px 0;

    &:last-child {
      padding-bottom: 32px;
    }
  }

  a {
    font-weight: 500;
    font-size: rem(14);
  }
}

.saiba-mais-azul-3 {
  text-decoration: none;
  color: var(--text-secondary-01-default) !important;

  &:hover {
    text-decoration: underline;
  }
}
